<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4" />
  </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BillServicePortBinding3">
                    <security mode="Transport" />
                </binding>
                <binding name="BillServicePortBinding4">
                    <security mode="Transport" />
                </binding>
                <binding name="BillServicePortBinding5" />
                <binding name="BillServicePortBinding6">
                    <security mode="Transport" />
                </binding>
                <binding name="BillServicePortBinding7">
                    <security mode="Transport" />
                </binding>
                <binding name="BillServicePortBinding8" />
                <binding name="BillServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BillServicePortBinding9">
                    <security mode="Transport" />
                </binding>
                <binding name="BillServicePortBinding10">
                    <security mode="Transport" />
                </binding>
                <binding name="BillServicePortBinding11" />
                <binding name="BillConsultServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BillConsultServicePortBinding1" />
                <binding name="BillServicePortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://e-beta.sunat.gob.pe:443/ol-ti-itemision-otroscpe-gem-beta/billService"
                binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding3"
                contract="srRetencion.billService" name="BillServicePort1" />
            <endpoint address="https://e-beta.sunat.gob.pe:443/ol-ti-itemision-otroscpe-gem-beta/billService"
                binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding6"
                contract="srRetencion.billService" name="BillServicePort2" />
            <endpoint address="https://e-beta.sunat.gob.pe:443/ol-ti-itemision-otroscpe-gem-beta/billService"
                binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding7"
                contract="srRetencion.billService" name="BillServicePort.1" />
            <endpoint address="https://e-beta.sunat.gob.pe:443/ol-ti-itcpfegem-beta/billService"
                binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
                contract="sFacturacion.billService" name="BillServicePort" />
            <endpoint address="https://e-beta.sunat.gob.pe:443/ol-ti-itemision-otroscpe-gem-beta/billService"
                binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding9"
                contract="sRetencion.billService" name="BillServicePort3" />
            <endpoint address="https://e-beta.sunat.gob.pe:443/ol-ti-itemision-otroscpe-gem-beta/billService"
                binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding10"
                contract="sRetencion.billService" name="BillServicePort.11" />
            <endpoint address="https://www.sunat.gob.pe:443/ol-it-wsconscpegem/billConsultService"
                binding="basicHttpBinding" bindingConfiguration="BillConsultServicePortBinding"
                contract="sConsultarFactura.billService" name="BillConsultServicePort" />
        </client>
    </system.serviceModel>
</configuration>
