<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="VariablesDeConfiguracion" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ISL.Win.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ISL.Win.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <VariablesDeConfiguracion>
    <!--variable para configurar el número de decimales con que se muestran los importes totales; no debe ser mayor de 10-->
    <!--<add key="PrefijoID" value="1CH"/>-->
    <add key="IPServidor" value="190.117.126.71" />
    <add key="Servidor" value="190.117.126.71" />
    <add key="IPServidorReportes" value="190.117.126.71:81" />
    <!--<add key="RutaImagen" value="\\127.0.0.1\Imagenes"/>-->
    <!--<add key="RutaImpresion" value="\\192.168.0.8\Fotos/eImpresion\"/>-->
    <!--<add key="Fotos" value="\\127.0.0.1\Fotos"/>-->
    <!--<add key="DocElectronico" value="\\192.168.0.8\ComprobanteElectronico"/>-->
  </VariablesDeConfiguracion>
  <!--En esta sección se define la configuración CESS-->
  <system.diagnostics>
    <sources>
      <!-- En esta sección se define la configuración del registro para My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>
    <add name="ISL.Win.My.MySettings.ISLConnectionString" connectionString="Data Source=svrislcix;Initial Catalog=ISL;Persist Security Info=True;User ID=sgi;Password=induamerica" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Ink" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.2600.2180" newVersion="1.7.2600.2180" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiciosExternosSoap" openTimeout="00:05:00" />
        <binding name="Indu_IWCF_Cpe" sendTimeout="00:05:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IWCF_Cpe" />
        <binding name="BasicHttpBinding_IWCF_Cpe1" />
        <binding name="BillServicePortBinding" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
         <security mode="Transport" /> </binding>
        <binding name="BillServicePortBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding3" />        
      </basicHttpBinding>
      <customBinding>
        <binding name="BillServicePortBinding1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ISGI" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ose.nubefact.com/ol-ti-itcpe/billService"
        binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
        contract="sFacturacionOSE.billService" name="BillServicePort" />
      <endpoint address="http://10.2.6.10:83/SGI.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISGI" contract="SGI_WCF.ISGI" name="WSHttpBinding_ISGI">
        <identity>
          <dns value="10.2.6.10" />
        </identity>
      </endpoint>
      <endpoint address="http://app.pecsa.com.pe/pecsaempresaservicios/ServiciosExternos.asmx" binding="basicHttpBinding" bindingConfiguration="ServiciosExternosSoap" contract="listarPecsa.ServiciosExternosSoap" name="ServiciosExternosSoap" />
      <!--<endpoint address="http://10.1.0.12:82/WCF_Cpe.svc" binding="basicHttpBinding"
            bindingConfiguration="Indu_IWCF_Cpe" contract="WCF_CpeIndu.IWCF_Cpe"
            name="Indu_IWCF_Cpe" />-->
      <!--<endpoint address="https://e-beta.sunat.gob.pe/ol-ti-itcpfegem-beta/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding" contract="sFacturacion.billService" name="BillServicePort">
        <headers>
          <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken>
              <wsse:Username>20479729141MODDATOS</wsse:Username>
              <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">moddatos</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>-->
    </client>
  </system.serviceModel>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>

  <userSettings>
    <ISL.Win.My.MySettings>
      <setting name="Usuario" serializeAs="String">
        <value>.</value>
      </setting>
    </ISL.Win.My.MySettings>
  </userSettings>
  <applicationSettings>
    <ISL.Win.My.MySettings>
      <setting name="ISL_Win_CovisolR_GetDatosService" serializeAs="String">
        <value>http://recargas.covisol.com.pe:80/CovisolWeb/GetDatos</value>
      </setting>
    </ISL.Win.My.MySettings>
  </applicationSettings>
</configuration>
